body{
    height:100vh;
    margin:0;
    position:relative;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    /* cursor: url(girl.jpg),auto; */
    cursor:none;
}

#krishna{
    position:absolute;
    top:50%;
    left:50%;
    /* padding:12px 20px; */
    /* cursor:pointer; */
   
    background-image: url(krishna.webp) no-repeat center;
}

#krishna img{
    height:70px;
    width:50px;
}

#fake{
    height:32px;
    width:32px;
    background: url(durga.png) no-repeat center;
    background-size: contain;
    position:fixed;
    pointer-events: none;
}